<p>
    {{localize "bh2e.messages.blurbs.attacksWith"}}: {{weapon}}
</p>

{{> "systems/bh2e-fork/templates/messages/roll.hbs" roll}}

{{#damage}}
  {{> "systems/bh2e-fork/templates/messages/damage.hbs"}}
{{/damage}}
